@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {

    --primario: #6834a6;
    --fuentePrincipal: 'Poppins', sans-serif;
    --negro: rgb(134, 32, 160);
    --celestito: #74e4be; 
    --gradient: linear-gradient(35deg, var(--negro), var(--celestito));
    --gradient2: linear-gradient(35deg, var(--celestito), var(--bg));
  
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  * img {
    width: 100%;
    height: auto;
  }
  
  body {
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: var(--thin);
  }
  
  a {
    text-decoration: none;
    color: black;
  }

h1 {
    margin-top: 1rem;
    font-size: 3.4rem;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.zoom-header {
    zoom: 115%;
}

img {
    max-width: 100%;
    display: block;
}
/********header**********/
.header__contenedor {
    display: grid;
    background: var(--gradient);
}
@media (min-width: 768px) { 
    .header__contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: var(--primario);
    }
}

.header__texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: #FFF;
    gap: 2rem;
}


.header__botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}
@media (min-width: 768px) { 
    .header__botones {
        margin: 1rem 0 2rem 0;
    }
}


.header__botones a {
    background-color: rgb(117, 238, 133);
    padding: .8rem;
    border-radius: 1rem;
    transition:.3s;  
    font-weight: 600;
}

.header__botones a:hover {
    background-color: rgb(145, 219, 176);
}

p {
    margin: 0 2rem 2rem 2rem ;
}
@media (min-width: 768px) { 
    p {
        margin: 0 2rem;
    }
}

@media (max-width: 500px) { 
    h2 {
        margin-bottom: 1rem;
    }
}
/**********************Seccion Nosotros***********/
.nosotros__texto {
    text-align: center;
}
@media (min-width: 768px) { 
    .nosotros__texto {
        text-align: center;
        margin: 0 20rem;
    }
}

.nosotros__texto h1 {
    margin: 2.5rem 0;
}
@media (max-width: 768px) { 
   .nosotros__texto h1 {
       font-size: 2rem;
   }
}

.nosotros__texto p {
    margin-bottom: 2rem;
}

.nosotros__botones a:hover {
    background-color:var(--primario);
    color: #FFF;
}

/**************Nuestras-Ventajas**************/
.ventajas {
    margin: 4rem 0;
}

.ventajas__titulo {
    text-align: center;
    background-color:var(--primario);
    color: #FFF;
    padding-bottom:.7rem;
}
@media (max-width: 450px) { 
    .ventajas__titulo h1 {
        font-size: 2.3rem;
    }
}


.ventajas__beneficios { 
    display: flex;
    justify-content:center;
    text-align: center;
    font-size:.8rem;
    line-height: 1.4;
    background: var(--gradient);
    padding: 2.1rem;
}
@media (max-width: 450px) { 
    .ventajas__beneficios {
        flex-direction: column;
        gap: 2rem;
        padding:0;
    }
}
@media (max-width: 450px) { 
    .ventajas__beneficios p {
        display:none;
    }
}



i { 
    font-size:3.5rem;
    margin-bottom: 1rem;
}
@media (max-width: 450px) { 
    i {margin-top: 1rem;}
}


.ventajas__beneficio-1 i {
    margin-bottom: 0rem;
    font-size:4.5rem;
}
.ventajas__beneficios i:hover {
    transform: scale(1.4);
    transition: all 0.4s ease;
}

/*********COMO TRABAJAMOS****************/ 
.como-trabajamos__titulo { 
    text-align: center;
    margin:2rem;
}
@media (max-width: 450px) { 
    .como-trabajamos__titulo h1 { 
        font-size:1.6rem;
        width: auto;
        margin:-43px;
    }
}

.como-trabajamos__numeros {
    display: flex;
    text-align: center;
    margin:3rem;
    gap: 2rem;
}
@media (max-width: 450px) { 
    .como-trabajamos__numeros {
        flex-direction: column;
        gap: 0;
    }
    
}

.como-trabajamos__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
}

.como-trabajamos__contenido h1{ 
    display: flex;
    width: 7rem;
    height:7rem;
    border-radius: 100%;
    background-color: rgb(156, 69, 214);
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin-bottom: 1rem;
    font-weight: 900;
}
@media (max-width: 450px) { 
    .como-trabajamos__contenido h1{ 
        width: 4rem;
        height:4rem;
        font-size: 2rem;
    }   
}
@media (max-width: 450px) { 
    .como-trabajamos__contenido h3{ 
        font-size: 1rem;
    }   
}

.como-trabajamos__contenido h1:hover{ 
    background-color:rgb(148, 238, 148);
    transition:.5s;
}
/**************Proyectos realizados************/
.proyectos-realizados { 
    background: var(--gradient);
    padding:0 0 4rem 0;
    color:#FFF;
}
@media (min-width: 768px) { 
    .proyectos-realizados {
        padding:3rem 2rem 7rem 2rem;
    }
}

.proyectos-realizados__titulo { 
    text-align: center;
    margin-bottom: 5rem;
    line-height: 2;
    padding-top:1rem;
}
@media (max-width: 500px) { 
    .proyectos-realizados__titulo{
        font-size:.8rem;
        margin-bottom: 0;
    }
}
@media (max-width: 500px) { 
    .proyectos-realizados__titulo h1{
        font-size:2.8rem;
    }
}


.proyectos-realizados__cards { 
    width: 10rem;
    height: 10rem;
    margin-top: 5rem;
}
.proyectos-realizados__cards img:hover { 
    transform: scale(1.2);
    transition:.8s;
}

.proyectos-realizados__flex { 
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 6rem;
    gap: 6rem;
    flex-wrap:wrap;
}
@media (min-width: 768px) { 
    .proyectos-realizados__flex { 
        gap: 2rem;
    }
}

.proyectos-realizados__cards a { 
    background-color: rgb(117, 238, 133);
    border-radius: 5rem;
    padding: 1rem;
    background-image: var(--gradient);
    cursor: pointer;
    color: white;
    text-transform: uppercase;
}
.proyectos-realizados__cards a:hover{
  opacity: 0.8;
}
.proyectos-realizados__cards h3 {
    margin:1.2rem
}
@media (max-width: 1120px) { 
    .proyectos-realizados__cards {
        margin-top: 8rem;
    }
}

/*******************footer********************/
.footer { 
    height:30rem;
    background-image: url(../imagenes/contactame3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    background-position: top;
    color: #FFF;
}
@media (max-width: 760px) { 
    .footer { 
        height:34rem;
    }
}

.footer h1 {
    margin-top:0;
}
@media (max-width: 500px) { 
    .footer h1 {
        font-size:2.1rem;
    }
}

.footer__textos {
    margin-left: 2rem;
}

li {
    list-style: none;
    line-height:2;
}

.footer a {
    color: #fff;
    font-size: 1.5rem;
}
@media (max-width: 500px) { 
    .footer a {
        font-size: 1rem;
    }
}
.footer a:hover{ 
    color:#74e4be
}

.footer__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media ( min-width: 768px ) {
    .footer__contacto {
        align-items: flex-end;
    }
}



.telefono {
    display:flex;
    padding:1rem;
    gap: 1rem;
}    


.telefono::before {
    content: '';
    display: block;
    width: 3.2rem;
    height:3.2rem;
    background-image: url(../imagenes/logo-wasap\ 29x29.png);
    background-repeat: no-repeat;
    background-size: 3.2rem;
    margin-right: .3rem;
}


.instagram {
    display:flex;
    padding:1rem;
    gap: 1rem;
}    

.instagram::before {
    content: '';
    display: block;
    width: 3.2rem;
    height:3.2rem;
    background-image: url(../imagenes/icono\ instagram.png);
    background-repeat: no-repeat;
    background-size: 3.2rem;
    margin-right: 1rem;
}

.twitter {
    display:flex;
    padding:1rem;
    gap: 1rem;
}    


.twitter::before {
    content: '';
    display: block;
    width: 3rem;
    height:3.2rem;
    background-image: url(../imagenes/icono\ twitter.png);
    background-repeat: no-repeat;
    background-size: 3.2rem;
    margin-right: 1rem;
}

.footer__barra {
    color: aqua;
    background-color: #111;
    margin: 0;
    text-align: center;
    padding: 1rem;
}
@media (max-width: 500px) { 
    .footer__barra {
        padding: 0;
    }
}



.footer__barra a {
    font-size: 1.5rem;
}
@media (max-width: 500px) { 
    .footer__barra a {
        font-size:1rem;
    }
}


